.mapviewer-container {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

.overlay-container {
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
}

.hud.left-top {
    position: absolute;
    padding: 10px;
}
.hud.right-top {
    position: absolute;
    padding: 10px;
    right: 0;
}

.joystick-container {
    position: absolute;
    bottom: 0;
    padding: 40px;
}

.joystick-container.left {
    left: 0;
}

.joystick-container.right {
    right: 0;
}
