.center-content-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.overlay-container {
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
}

.hud.left-top {
    position: absolute;
    padding: 10px;
}
.hud.right-top {
    position: absolute;
    padding: 10px;
    right: 0;
}

.content-text {
    font-family: ui-monospace, SFMono-Regular, Menlo, "Roboto Mono", monospace;
    font-weight: bold;
    color: white;
    text-shadow: 1px 1px 0 black;
}

.joystick-container {
    position: absolute;
    bottom: 0;
    padding: 40px;
}

.joystick-container.left {
    left: 0;
}

.joystick-container.right {
    right: 0;
}
