RewriteEngine On
RewriteBase /
RewriteCond %{HTTP_HOST} ^www\.(.*)$ [NC]
RewriteRule ^(.*)$ https://%1/$1 [R=301,L]

<IfModule mod_headers.c>
    Header append Cross-Origin-Opener-Policy: same-origin
    Header append Cross-Origin-Embedder-Policy: require-corp
</IfModule>
