@font-face {
    font-family: 'OSRS';
    src: url(./RuneScape-Chat-Bold-07.ttf);
}

.context-menu-container {
    position: absolute;
    top: 100px;
    left: 100px;
    font-family: 'OSRS';
    display: flex;
    white-space: nowrap;
}

.context-menu {
    cursor: default;
    font-size: 16px;
    font-smooth: never;
    /* font-weight: normal; */
    /* filter: opacity(100%); */
    text-shadow: 1px 1px 0 black;
    /* display: flex; */
    border: solid #5D5447 1px;
}

.title {
    padding-left: 2px;
    padding-right: 6px;
    color: #5D5447;
    background-color: black;
    border: solid black 1px;
}

.line {
    width: 100%;
    border-top: solid #5D5447 1px;
}

.options {
    color: white;
    background-color: #5D5447;
    border: solid black 1px;
}

.option {
    padding-left: 2px;
    padding-right: 6px;
    padding-bottom: 1px;
}

.option:hover .option-name {
    color: #FFFF00;
}

.npc-name {
    color: #FFFF00;
}

.npc-level {
    color: #C0FF00;
}
