.map-editor-panel {
    display: flex;
    flex-direction: column;
    /* width: 100%; */
    width: 350px;
    min-width: 350px;
    /* overflow: auto; */
    /* padding: 10px; */
    /* margin-left: 10px; */
}

.underlays-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex: 1;
    overflow: auto;
    margin: 5px;
}

.underlay-preview {
    display: flex;
    width: 48px;
    height: 48px;
    align-items: center;
    justify-content: center;
    margin: 4px;
    cursor: pointer;
    border: 4px solid black;
    border-radius: 5%;
}

.underlay-preview.selected {
    outline: 2px solid white;
    outline-offset: -2px;
    border: 4px solid black;
}
