.loading-bar-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.fps-counter {
  font-family: ui-monospace, SFMono-Regular, Menlo, "Roboto Mono", monospace;
  font-weight: bold;
  color: white;
  position: absolute;
  padding: 10px;
  line-height: 0.7;
}