.loading-bar-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.fps-counter {
  font-family: ui-monospace, SFMono-Regular, Menlo, "Roboto Mono", monospace;
  font-weight: bold;
  color: white;
  position: absolute;
  padding: 10px;
}

.joystick-container {
  position: absolute;
  bottom: 0;
  padding: 40px;
}

.joystick-container.left {
  left: 0;
}

.joystick-container.right {
  right: 0;
}